.container {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .container .content {
    height: 100%; }
    .container .content .channels {
      background-color: #c0cae3;
      width: 300px;
      display: inline-block;
      height: 100%;
      vertical-align: top; }
      .container .content .channels .title {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 2em;
        font-weight: bolder;
        font-style: italic;
        padding-bottom: 10px; }
      .container .content .channels .channel {
        padding-left: 20px;
        margin: 10px; }
      .container .content .channels .channel:hover {
        font-weight: bold;
        cursor: pointer; }
    .container .content .messages {
      padding: 0 20px 0px 20px;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: calc(100% - 340px); }
      .container .content .messages * {
        display: block; }
      .container .content .messages .channel-name {
        padding: 20px 0px 10px 10px;
        font-size: 2em;
        font-weight: bolder; }
      .container .content .messages .message {
        margin: 10px;
        width: 100%; }
        .container .content .messages .message * {
          display: block; }
        .container .content .messages .message .sender {
          font-weight: bolder;
          margin: 3px; }
        .container .content .messages .message .content {
          background-color: #d9d4df;
          color: black;
          border-radius: 10px;
          padding: 10px;
          display: inline-block;
          max-width: 400px; }
      .container .content .messages .sent {
        float: right; }
        .container .content .messages .sent .sender {
          text-align: right; }
        .container .content .messages .sent .content {
          background-color: #2d6aff;
          color: white;
          border-radius: 10px;
          float: right;
          padding: 10px;
          display: inline-block; }
  .container .input {
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    width: calc(100% - 340px); }
    .container .input input {
      font-size: 1em;
      outline: none;
      padding: 10px 10px 10px 20px;
      width: calc(100% - 340px);
      margin: 10px;
      height: 30px;
      border-radius: 30px;
      border: none;
      background-color: #e8ecee; }
