.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
    .channels {
      background-color: #c0cae3;
      width: 300px;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      .title {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 2em;
        font-weight: bolder;
        font-style: italic;
        padding-bottom: 10px;
      }
      .channel {
        padding-left: 20px;
        margin: 10px;
      }
      .channel:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
    .messages {
      padding: 0 20px 0px 20px;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: calc(100% - 340px);
      * {
        display: block;
      }
      .channel-name {
        padding: 20px 0px 10px 10px;
        font-size: 2em;
        font-weight: bolder;
      }
      .message {
        margin: 10px;
        width: 100%;
        * {
          display: block;
        }
        .sender {
          font-weight: bolder;
          margin: 3px;
        }
        .content {
          background-color: #d9d4df;
          color: black;
          border-radius: 10px;
          padding: 10px;
          display: inline-block;
          max-width: 400px;
        }
      }
      .sent {
        float: right;
        .sender {
          text-align: right;
        }
        .content {
          background-color: #2d6aff;
          color: white;
          border-radius: 10px;
          float: right;
          padding: 10px;
          display: inline-block;
        }
      }
    }
  }
  .input {
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    width: calc(100% - 340px);
    input {
      font-size: 1em;
      outline: none;
      padding: 10px 10px 10px 20px ;
      width: calc(100% - 340px);
      margin: 10px;
      height: 30px;
      border-radius: 30px;
      border: none;
      background-color: #e8ecee;
    }
  }
}