<div class="container">
    <div class="content">
        <div class="channels">
            <div class="title">Channels</div>
            <div class="channel" ng-repeat="c in channels track by $index" ng-click="getChannel(c.id)">Channel {{c.id}}</div>
        </div><!--
        --><div class="messages">
        <div class="channel-name">#{{currentChannel.name}}</div>
            <div ng-repeat="m in currentChannel.messages track by $index" class="message" ng-class="{sent: m['user-id']==user.id}">
                <div class="sender">{{ this.m['user-id'] }}</div>
                <div class="content">{{ m.message }}</div>
            </div>
        <div class="input">
            <input type="text" placeholder="Send a message..." ng-model="message">
            <button ng-click="postMessage()">Send</button>
        </div>
        </div>
    </div>
</div>